/checkpoints/vgg16_netvlad_checkpoint/
/models/
/DenseNet3/
/DenseNet_Keras/
/checkpoints/googlenet_places365.npy
/checkpoints/netvlad_checkpoint.pth.tar
/checkpoints/resnet-152-torch-places365.npy
/checkpoints/vd16_pitts30k_conv5_3_vlad_preL2_intra_white.data-00000-of-00001
/checkpoints/vd16_pitts30k_conv5_3_vlad_preL2_intra_white.index
/checkpoints/vd16_pitts30k_conv5_3_vlad_preL2_intra_white.meta
/checkpoints/vgg16_places365.npy
/build/
/netvlad_tf/
/compute_neighbors.c
/compute_neighbors.cpython-36m-x86_64-linux-gnu.so
/compute_neighbors.pyx
/netvlad.py
/Reference_output.txt
/setup.py
/ssm_old.ui
/vgg16_places_356.py